<div class="suspect-list-container">

  <!-- ===== TITLE ===== -->
  <div class="list-header">
    <h3 class="list-title">Suspect Intelligence</h3>
  </div>

  <!-- ===== GLOBAL SEARCH ===== -->
  <div class="search-container">
    <i class="pi pi-search search-icon"></i>
    <input
      #searchInput
      pInputText
      type="text"
      placeholder="Search by name or risk level..."
      (input)="dt.filterGlobal(searchInput.value, 'contains')" />
  </div>

  <!-- ===== TABLE ===== -->
  <p-table
    #dt
    [value]="suspects"
    selectionMode="single"
     [(selection)]="selectedSuspect"
    dataKey="id"
    (onRowSelect)="onRowSelect($event)"
    [globalFilterFields]="['name','riskLevel']"
    responsiveLayout="scroll"
    styleClass="premium-table">

    <!-- TABLE HEADER -->
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 80px;">Sr No</th>
        <th>Suspect Name</th>
        <th style="width: 130px;">ThreatLevel</th>
      </tr>
    </ng-template>

    <!-- TABLE BODY -->
    <ng-template pTemplate="body" let-suspect let-i="rowIndex">
      <tr [pSelectableRow]="suspect">

        <td>{{ i + 1 }}</td>

        <td class="suspect-name">
          {{ suspect.name }}
        </td>

        <td>
          <p-tag
            [value]="suspect.riskLevel"
            [severity]="getSeverity(suspect.riskLevel)">
          </p-tag>
        </td>

      </tr>
    </ng-template>

    <!-- EMPTY STATE -->
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="3" class="empty-message">
          No suspects found.
        </td>
      </tr>
    </ng-template>

  </p-table>

</div>