// .map-wrapper {
//   display: flex;
//   flex-direction: column;
//   height: 500px;
//   border-radius: 14px;
//   overflow: hidden;
// }

// .map-header {
//   padding: 18px 24px;
//   background: #FFFFFF;
//   border-bottom: 1px solid #E5E7EB;
// }

// .map-header h2 {
//   font-size: 18px;
//   font-weight: 600;
//   color: #111827;
//   margin-bottom: 4px;
// }

// .map-subtitle {
//   font-size: 13px;
//   color: #6B7280;
// }

// .map-container {
//   flex: 1;
// }

// #crime-map {
//   height: 100%;
//   width: 100%;
// }


.map-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid #2A3247;
  background: #1F2636;
  height: 500px;
}

.map-header {
  padding: 16px 20px;
  background: #242D41;
  border-bottom: 1px solid #2A3247;
}

.map-header h2 {
  font-size: 18px;
  font-weight: 600;
  color: #E4E7EB;
}

.map-subtitle {
  font-size: 13px;
  color: #A0A9B8;
}

.map-container {
  flex: 1;
}

#crime-map {
  height: 100%;
  width: 100%;
}